<%- include partials/header.ejs %>

<div style="width: 83%; margin: auto; margin-top: 50px;">
  <h4>Hello <%= name %>, Welcome to the homepage</h4>
  <h6>Check your user settings in the dropdown in the right corner</h6>
</div>
<!--/.Navbar -->
